header {
    padding: 2px;
    background: rgb(194, 194, 194);
    text-align: center;
}
#img-div #img-caption {
    margin-top: 3px;    
    text-align: center;
}
h2 {
    text-align: center;
}
ul, blockquote {
    line-height: 1.25;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
h3 {
    text-align: center;
}